<header>
    <div class="title">
        <h1>Tech Blog</h1>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
</header>

<form class="login" method="POST" action="/login">
    <h2 class="login">Login</h2>

    <div class="input-container">
        <input class="input-field" type="text" placeholder="Email" name="email">
    </div>

    <div class="input-container">
        <input class="input-field" type="password" placeholder="Password" name="password">
    </div>

    <button type="submit" class="btn">Login</button>
</form>