<header>
    <div class="title">
        <h1>Tech Blog</h1>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
    </nav>
</header>

<h2 class="logout-text">You have successfully logged out!</h2>